---
export interface Props {
	mod: any;
}

const { mod: mod } = Astro.props;
---

<div class="pt-2 card bg-secondary h-100">
    <a href={"/mods/" + mod.name.toLowerCase().trim().split(" ").join("_")}><h2 class="text-center">{mod.name}</h2></a>

    <div class="d-flex flex-column text-center h-100">
        {(mod.first_image != undefined) && 
            <div>
                <img class="w-75" src={mod.first_image}>
            </div>
            </br>
         }
        <div class="flex-grow-1"></div>
        <div>
            <p>{mod.description}</p> 
        </div>
        <div class="opacity-50">
            <p><i>By {mod.author} • {mod.downloads} downloads • Version {mod.latest_version.replace(/^v/, "")}</i></p>  
        </div>
    </div>
</div>