---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';

const { frontmatter } = Astro.props;
import json from '../downloads.json'
import db from '../database.json'

var mod = db.find(x => x.mod_guid == frontmatter.mod_guid)

var days : number[] = []
var downloads : number[] = []
Object.keys(json).forEach(key => {
    const dmy = key.split("/")
    const day = new Date(parseInt(dmy[2]), parseInt(dmy[1]) - 1, parseInt(dmy[0])).getTime()
    const downloadCount = (json as any)[key][frontmatter.mod_guid]

    downloads.push(downloadCount)
    days.push(day);
});

if (downloads.find(x => x == 0) == undefined) {
    downloads.push(0)
    days.push(new Date(mod?.release_date ?? "").getTime())
}

const indices = Array.from(days.keys());
indices.sort((a, b) => days[a] < days[b] ? -1 : 1)

const sortedDates = indices.map(i => days[i])
const sortedDownloads = indices.map(i => downloads[i])

var firstDate = new Date(Math.min(...sortedDates));
var lastDate = new Date(Math.max(...sortedDates));
---

<download-chart data-days={sortedDates} data-downloads={sortedDownloads}></download-chartt>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"/>
<script>
    class DownloadChart extends HTMLElement {
        constructor() {
            super();
            const dates = this.dataset.days?.split(",").map((x : string) => parseInt(x)) as number[];
            const downloads = this.dataset.downloads?.split(",").map((x : string) => parseInt(x)) as number[];

            const stringDates = dates.map((x) => new Date(x).toLocaleDateString(undefined, {month: 'long', day: 'numeric', year: 'numeric'}))

            //@ts-ignore
            new Chart("myChart", {
                type: "scatter",
                data: {
                    labels: stringDates,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(255,255,255,0.0)",
                        borderColor: "rgba(255,255,255,0.0)",
                        borderWidth: 0,
                        data: downloads.map(function(d, i)  
                        {
                            return { x : dates[i], y : d };
                        })
                    },
                    {
                        type: "line",
                        fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(255,255,255,1.0)",
                            borderColor: "rgba(255,255,255,1.0)",
                            pointBorderWidth: 0,
                            pointBackgroundColor: "rgba(255,255,255,0.0)",
                            pointBorderColor: "rgba(255,255,255,0.0)",
                            borderWidth: 3,
                            data: downloads.map(function(d, i)  
                            {
                                return { x : dates[i], y : d };
                            })
                    }]
                },
                options: {
                    legend: {display: false},
                    layout: {
                        padding: {
                            left: 0,
                            right: 80,
                            top: 0,
                            bottom: 0
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 20,
                                beginAtZero: true,
                                max: Math.max(...downloads),
                                // Only show first and last ticks
                                callback: function(value : string, index : number, values : string[]) {
                                    return (index == 0 || index == values.length / 2) ? value : ""
                                },
                                fontColor: 'white'
                            },
                            gridLines: {
                                color: "rgba(255,255,255,0.1)"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 16,
                                // Only show first and last ticks
                                callback: function(value : string, index : number, values : string[]) {
                                    return (index == 0 || index == values.length - 1 || index == Math.floor(values.length / 2)) ? 
                                    new Date(value).toLocaleDateString(undefined, {month: 'long', day: 'numeric', year: 'numeric'}) : ""
                                },
                                fontColor: 'white'
                            },
                            gridLines: {
                                color: "rgba(255,255,255,0.1)"
                            }
                        }]
                    }
                }
            });
        }
    }

    customElements.define('download-chart', DownloadChart);
</script>

<Layout title="DREDGE Mods">
    <main>
        <Title title="Downloads" />
        <div class="w-100 justify-content-center d-flex">
            <div class="w-md-50">
                <p>Showing downloads of {mod.name} from {firstDate.toDateString()} to {lastDate.toDateString()}</p>
                <p>{mod.name} has been downloaded <b>{sortedDownloads[sortedDownloads.length - 1] - sortedDownloads[Math.max(sortedDownloads.length - 8, 0)]}</b> times this week.</p>
            </div>
        </div>
        <div class="w-100 justify-content-center d-flex">
            <canvas id="myChart" style="width:100%; padding-right=80px;"></canvas>
        </div>

    </main>
</Layout>