---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import BrandLink from '../components/BrandLink.astro';

const { frontmatter } = Astro.props;
const authorGithubLink = frontmatter.mod.repo.split("/")[0];

import { getThumbnail, getSlug } from '../utils.ts'
const thumbnail = getThumbnail(frontmatter.mod);
---

<Layout title={frontmatter.mod.name} thumbnail={thumbnail}>
	<main>
		<br/>
		<div class="d-flex justify-content-center">
			<div class="p-2 bg-secondary rounded w-md-75">
				<div class="text-center">
					<b>{frontmatter.mod.name} <i>by <a href={"https://www.github.com/" + authorGithubLink}>{frontmatter.mod.author}</a></i></b>
					<img class="rounded-circle" style="height: 32px;" src={"https://www.github.com/" + frontmatter.mod.repo.split("/")[0] + ".png"} alt="GitHub account picture">
				</div>
	
				<div class="p-2 d-flex justify-content-center">
					{frontmatter.mod.description}
				</div>

				<div class="p-2 d-flex justify-content-center">
					<a href="/manager/" class="btn btn-info rounded ps-4 pe-4 p-2"><i class="fa fa-download"></i> Install via the Mod Manager</a>
				</div>
	
				<div class="p-2 d-flex d-flex flex-wrap justify-content-center">
					<span class="ps-2 pe-2" style="min-width: 33%; text-align:center">
						<a href={"/mods/" + getSlug(frontmatter.mod) + "/downloads"}>
							📈 {frontmatter.mod.downloads} Downloads
						</a>
					</span>
	
					<span class="ps-2 pe-2" style="min-width: 33%; text-align:center">
						<a href={"https://www.github.com/" + frontmatter.mod.repo}>
							<i class="fa-brands fa-github"></i> Source Code
						</a>
					</span>
	
					<span class="ps-2 pe-2" style="min-width: 33%; text-align:center">
						<a href={"https://www.github.com/" + frontmatter.mod.repo + "/releases/latest/download/" + frontmatter.mod.download}>
							<i class="fa fa-download"></i> Download zip ({frontmatter.mod.latest_version})
						</a>
					</span>
				</div>
			</div>
		</div>
		

		<br/>

		<Title title="" />

        <slot />
	</main>
</Layout>
